@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Sets CSS variables */
:root {
  --header-height: 100px;
  --category-width: 25vw;
  --category-padding: 20px;
}

/* Sets default values */
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  white-space: nowrap;
  scrollbar-width: none;
}

header {
  position: fixed;
  left: 0px;
  top: 0px;
  height: var(--header-height);
  width: 100vw;
  background: #278ab0;
  z-index: 2;
}

#main-title {
  float: left;
  margin-top: 25px;
  margin-left: 25px;
  height: 40px;
  width: 100px;
  font-size: 36px;
  line-height: 42px;
}

#quote {
  display: none;
  float: right;
  margin-top: 25px;
  margin-right: 25px;
  height: 40px;
  line-height: 40px;
}

#quote p {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

/* The progress bar, within its container, is placed on the bottom of its parent header */
.progress-container {
  position: absolute;
  bottom: 0px;
  height: 20px;
  width: 100%;
  background: #1c4670;
}

.progress {
  position: absolute;
  bottom: 0px;
  height: 20px;
  width: 0%;
  background: #1dc690;
}

/* The category-form is floated to go alongside the category-container */
.category-form {
  margin-top: calc(var(--header-height) + var(--category-padding));
  margin-right: var(--category-padding);
  margin-left: var(--category-padding);
  height: calc(100vh - var(--header-height) - (2 * var(--category-padding)));
  background: #c4c4c4;
  border-radius: 15px;
}

.category-form-heading {
  height: 80px;
  width: 100%;
  background: #278ab0;
  border-radius: 15px 15px 0px 0px;
}

#category-input,
.category-edit {
  margin-top: 20px;
  margin-left: 20px;
  height: 35px;
  width: calc(100% - 40px);
  border: 0px;
  border-radius: 5px;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

/* The summary is a list that shows categories with their prioritised todos */
#summary {
  margin-top: 20px;
  font-size: large;
}

#summary ul {
  list-style: none;
  padding-left: 20px;
  padding-bottom: 10px;
}

#summary a {
  color: inherit;
  text-decoration: none;
}

#summary a:hover {
  text-decoration: none;
}

/* 
  The category container creates a flex-flow of row and wrap so elements tile nicely.
  It also provides a container to scroll through categories.
*/
#category-container {
  padding: var(--category-padding);
  padding-bottom: 0;
}

a.anchor {
  display: block;
  position: relative;
  top: calc(0px - (var(--header-height) + var(--category-padding)));
  visibility: hidden;
}

.category {
  position: relative;
  margin-right: var(--category-padding);
  margin-bottom: var(--category-padding);
  height: calc(100vh - var(--header-height) - (2 * var(--category-padding)));
  width: 100%;
  min-width: 300px;
  background: #c4c4c4;
  border-radius: 15px;
}

.category-heading {
  position: absolute;
  left: 0;
  right: 0;
  height: 80px;
  background: #278ab0;
  border-radius: 15px 15px 0px 0px;
}

.category-heading h2 {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 35px;
  width: calc(100% - 65px);
  font-size: 24px;
  line-height: 28px;
  z-index: 0;
}

.category-heading button {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 25px;
  width: 25px;
  z-index: 1;
}

/*
  The category-content div allows the todos to be scrolled while the category-header remains.
  Within the div scroll bars are disabled.
*/
.category-content {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.category-content::-webkit-scrollbar {
  display: none;
}

.todo {
  position: relative;
  margin-left: 20px;
  margin-bottom: 20px;
  height: 60px;
  width: calc(100% - 40px);
  background: #eaeae0;
  border-radius: 5px;
}

.todo.form {
  margin-top: 20px;
}

.todo-input {
  margin-top: 15px;
  margin-left: 5px;
  height: calc(100% - 30px);
  width: calc(100% - 10px);
  border: none;
  font-size: 16px;
  text-align: center;
}

.todo div {
  display: flex;
  position: absolute;
  top: 15px;
  left: 5px;
  height: calc(100% - 30px);
  width: calc(100% - 80px);
  overflow: hidden;
  text-overflow: ellipsis;
}

.todo div h3 {
  height: 20px;
  align-self: center;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.todo button {
  float: right;
  margin-top: 20px;
  margin-right: 5px;
  height: 20px;
  width: 20px;
}

/* Styling for expanded todos */
.todo.expanded {
  height: 180px;
}

.todo.expanded div h3 {
  height: inherit;
  overflow-wrap: break-word;
  white-space: normal;
}

.todo.expanded button {
  margin-top: 80px;
}

/* The following styles are applied depending on a todo's completed or prioritised property */
.completed h3 {
  text-decoration: line-through;
}

.prioritised {
  background: #fefecc;
}

@media (min-width: 1200px) {
  body {
    display: inline-flex;
  }

  #quote {
    display: initial;
  }

  .category-form {
    position: absolute;
    left: var(--category-padding);
    top: calc(var(--category-padding) + var(--header-height));
    height: calc(100vh - var(--header-height) - (2 * var(--category-padding)));
    width: var(--category-width);
    margin-top: 0;
    min-width: 300px;
  }

  #category-container {
    display: flex;
    flex-flow: row wrap;
    position: absolute;
    top: var(--header-height);
    right: 0;
    bottom: 0;
    left: calc(var(--category-width) + (2 * var(--category-padding)));
    padding-top: var(--category-padding);
    padding-left: var(--category-padding);
    overflow: auto;
  }

  .category {
    margin-right: var(--category-padding);
    margin-bottom: var(--category-padding);
    width: calc(50% - var(--category-padding));
  }

  a.anchor {
    top: calc(0px - var(--category-padding));
  }
}
